<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <a href="#" class="name">Rafael Malave</a>
      <nav>
        <%= link_to "Articles", posts_path %>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
      </nav>
    </header>
    
    <%= yield %>
    
  </body>
</html>
